.overlay,
.assignment-info-tab,
.overlay-join,
.overlay-invite,
.assignment-details-modal,
.overlay-edit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .box,
  .assignment-container,
.box-invite,
.box-join,
.box-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 560px;
    min-height: 406px;
    display: flex;
    flex-direction: column;
    grid-row-gap:20px;
    padding-left: 30px;
  }

  .assignment-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 90vw;
    min-height: 90vh;
  }
  .assignment-info-tab h2{
    color: #000;
  }

.box input,
.box-join input,
.box-invite input,
.box-edit input {
  height: 56px;
  width: 100%;
  align-self: flex-start;
  padding-left: 10px;
}

#input-assignment-instruction{
  flex: 1;
  padding: 20px 11px 0 24px;
}

#input-assignment-instruction::placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #999;
}

.input-assignment-due-date{
  padding: 5px 20px;
}

.buttons-creat-class,
.buttons-join-class,
.buttons-invite-class,
.buttons-edit-info  {
  display: flex;
  justify-content: flex-end;
  grid-column-gap: 20px;
}

.box button,
.box-join button,
.box-invite button,
.box-edit button {
  cursor: pointer;
  font-family: "Roboto", "Noto Sans Myanmar", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(26, 115, 232);
  background-color: transparent;
  border: none;
}

.inside-class-stream {
  display: none;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 13%;
  margin-right: 13%;
  grid-row-gap: 25px;
  display: none;
}

.inside-class-stream .class-card-background-image {
  width: 100%;
  height: 240px;
  align-items: stretch;
}

.class-stream-body {
  display: flex;
  flex-wrap: reverse;
}

.class-stream-body .functionality-dates {
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-column-gap: 20px;
  color: gray;
  flex: 0.2;
}

.stream-updates {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.test-card {
  height: 100px;
  width: fill;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  min-width: 162px;
}

.notifactions {
  display: flex;
  align-items: stretch;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 10px;
  align-items: stretch;
  height: fit-content;
}

.notifactions .userIcon {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 1rem;
}

.inside-class-people {
  display: none;
  flex-direction: column;
  width: fill;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.inside-class-people h2 {
  margin-bottom: 10px;
  padding-bottom: 5px; 
  margin-top: 20px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgb(32, 33, 36);
}

  .teach-title{
    border-bottom: 2px solid #000;
    margin-bottom: 10px; 
}
  
  .teacher-list,
  .student-list {
    list-style-type: none;
    padding: 0;
  }
  
  .person {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    padding: 5px 0;
  }
  
  .userIcon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .person-name {
    flex: 1;
  }
  
  #studentCount{
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

.teacher-list,
.student-list {
  list-style-type: none;
  padding: 0;
}

.person {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
  padding: 5px 0;
}

.userIcon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.person-name {
  flex: 1;
}

#studentCount {
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

  .student-tab-people{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000; 
    margin-top: 30px;
  }

  .student-tab-people img {
    width: 50px;
    height: 50px;
    margin: 0;
  }


  .inside-class-classwork{
    display: none;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    grid-row-gap:20px;
  }
  
  .create-assignment{
    color: rgb(255, 255, 255);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    background-color: #000000;
    border-radius: 5px;
    width: 115px;
    height: 50px;
    border: none;
    border-radius: 20px;
  }

  .assignment-list{
    list-style-type: none;
    padding: 0;
  }

  .assignment{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5); 
    padding: 15px;
  }

  .info-about-asg{
    display: flex;
    align-items: center;
  }

  .assignment img{
    align-self: center;
    opacity: 0.5;
  }

.assignment-name{
  opacity: 0.8;
  font-size: 1.2rem;
}

.assignment-due-date{
  opacity: 0.8;
  font-size: 0.8rem;
}

.classwork-list{
  cursor: pointer;
}
.classwork-list:hover{
  background-color: rgba(0, 0, 0,0.03);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transition: 0.5s;
}

.plus-btn-options {
  position: absolute;
  top: 7vh;
  background-color: #ffffff;
  left: 75vw;
  display: none;

  flex-direction: column;
  border: 1px solid black;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plus-btn-options-shown {
  display: flex;
}
.class-options-btn {
  border: 0;
  background-color: #ffffff;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 3rem;
  width: 8rem;
}

button {
  cursor: pointer;
}

.class-options-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.invalid-join-code {
  color: rgba(255, 0, 0, 0.7);
  display: none;
}

.edit-info-label{
  font-size: 0.75rem;
  margin-bottom: -1.5rem;
}

.update-info-msg{
  display: none;
}

.sidebar-go-home-text{
  display: flex;
  justify-content: space-around;
}

.sidebar-go-home-text > span{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.stream-text, .stream-title{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.9);
  
}

.stream-text{
  padding: 10px;
  gap: 1.5rem
}
.stream-teacher-name{
  font-size: 1rem;
  font-weight: 600;
  
}

.stream-date{
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
}

.stream-content{
  font-size: 0.95rem;
  font-weight: 400;
}

.stream-right{
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 0 28px;
}


.notification-form {
  display: none;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.open-announce {
  display: flex;
  height: 75px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 10px;
  align-items: center;
  padding: 10px 20px;
  background-color: #d3d3d329;
}

.open-announce img{
  margin: 0;
  margin-right: 20px;
}

.notification-form h2 {
  font-size: 18px;
  margin-bottom: 10px;
}


.notification-form textarea[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  height: 200px;
}

#announcementText::placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #999;
}

#announcementText{
  padding: 20px 11px 0 24px;
}

.notification-form button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.notification-form button:hover {
  background-color: #0056b3;
}



.assignment-container{
  gap: 2rem;
  max-height: 50vh;
}

.assignment-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.assignment-title{
  font-size: 1.5rem;
  padding-top: 10px;
}

.assignment-btns{
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
}

#file_input{
  border: 3px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

#file_input:hover{
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.8s;
}



.assignment-modal-close-btn{
  right: 0;
}

.assignment-close-div{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1.5rem;
}

.assignment-modal-btn, input::file-selector-button{
  font-size: 1rem;
  width: 70px;
  height: 50px;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
}

input::file-selector-button{
  font-size: 0.8rem;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.2);
}
.assignment-modal-btn:hover{
  background-color: rgba(0, 0, 0, 0.08);
  transition: 0.8s;
}

.assignment-details{
    display: block;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 5px 5px;
    font-weight: 300;
}