.overlay,
.assignment-info-tab,
.overlay-join,
.overlay-invite,
.overlay-edit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .box,
.box-invite,
.box-join,
.box-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 560px;
    min-height: 406px;
    display: flex;
    flex-direction: column;
    grid-row-gap:20px;
    padding-left: 30px;
  }

  .assignment-info-tab h2{
    color: #000;
  }

.box input,
.box-join input,
.box-invite input,
.box-edit input {
  height: 56px;
  width: 100%;
  align-self: flex-start;
  padding-left: 10px;
}

#input-assignment-instruction{
  flex: 1;
}

#input-assignment-instruction::placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #999;
}

.input-assignment-due-date{
  padding: 5px 20px;
}

.buttons-creat-class,
.buttons-join-class,
.buttons-invite-class,
.buttons-edit-info  {
  display: flex;
  justify-content: flex-end;
  grid-column-gap: 20px;
}

.box button,
.box-join button,
.box-invite button,
.box-edit button {
  cursor: pointer;
  font-family: "Roboto", "Noto Sans Myanmar", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgb(26, 115, 232);
  background-color: transparent;
  border: none;
}

.inside-class-stream {
  display: none;
  flex-direction: column;
  width: fill;
  margin-top: 15px;
  margin-left: 13%;
  margin-right: 13%;
  display: none;
}

.inside-class-stream .class-card-background-image {
  width: 100%;
  height: 240px;
  align-items: stretch;
}

.class-stream-body {
  display: flex;
  flex-wrap: reverse;
}

.class-stream-body .functionality-dates {
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-column-gap: 20px;
  color: gray;
  flex: 0.2;
}

.stream-updates {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.test-card {
  height: 100px;
  width: fill;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  min-width: 162px;
}

.notifactions {
  display: flex;
  align-items: stretch;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 10px;
  align-items: stretch;
}

.notifactions .userIcon {
  align-self: center;
  margin-left: 20px;
}

.inside-class-people {
  display: none;
  flex-direction: column;
  width: fill;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.inside-class-people h2 {
  margin-bottom: 10px;
  border-bottom: 2px solid #000; /* Add a thick black bottom border */
  padding-bottom: 5px; /* Add some padding to create space between h2 and ul */
  margin-top: 20px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: rgb(32, 33, 36);
}

  .teach-title{
    border-bottom: 2px solid #000;
    margin-bottom: 10px; 
}
  
  .teacher-list,
  .student-list {
    list-style-type: none;
    padding: 0;
  }
  
  .person {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #ccc;
    padding: 5px 0;
  }
  
  .userIcon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .person-name {
    flex: 1;
  }
  
  #studentCount{
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

.teacher-list,
.student-list {
  list-style-type: none;
  padding: 0;
}

.person {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
  padding: 5px 0;
}

.userIcon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.person-name {
  flex: 1;
}

#studentCount {
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

  .student-tab-people{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000; 
    margin-top: 30px;
  }

  .student-tab-people img {
    width: 50px;
    height: 50px;
    margin: 0;
  }


  .inside-class-classwork{
    display: none;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    grid-row-gap:20px;
  }
  
  .create-assignment{
    color: rgb(255, 255, 255);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    background-color: #000000;
    border-radius: 5px;
    width: 115px;
    height: 50px;
    border: none;
    border-radius: 20px;
  }

  .assignment-list{
    list-style-type: none;
    padding: 0;
  }

  .assignment{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000; 
  }

  .info-about-asg{
    display: flex;
    align-items: center;
  }

  .assignment img{
    align-self: center;
    
  }
.plus-btn-options {
  position: absolute;
  top: 7vh;
  background-color: #ffffff;
  left: 75vw;
  display: none;

  flex-direction: column;
  border: 1px solid black;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.plus-btn-options-shown {
  display: flex;
}
.class-options-btn {
  border: 0;
  background-color: #ffffff;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 3rem;
  width: 8rem;
}

button {
  cursor: pointer;
}

.class-options-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.invalid-join-code {
  color: rgba(255, 0, 0, 0.7);
  display: none;
}

.edit-info-label{
  font-size: 0.75rem;
  margin-bottom: -1.5rem;
}

.update-info-msg{
  display: none;
}